<div>
  <h2 id="page-heading">
    <span>Questions</span>
  </h2>
  <br />
  <div class="alert alert-warning" *ngIf="questions?.length === 0">
    <span>No movies found</span>
  </div>
  <div class="table-responsive" *ngIf="questions?.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>Title</span></th>
          <th><span>Description</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions; trackBy: trackId">
          <td>
            <a [routerLink]="['/question', question.id, 'view']">{{ question.id }}</a>
          </td>
          <td>{{ question.title }}</td>
          <td>{{ question.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
